*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  /* font-size */
  --primary: 6rem;
  --secondary: 3.5rem;
  --tertiary: 1.6rem;

  /* COLORS: */

  --Light-green: #7ed56f;
  --Medium-green: #55c57a;
  --Dark-green: #28b485;
  --white: #fff;
  --background-color: #f7f7f7;

  /* margin */
  --margin-small: 1.5rem;
  --margin-medim: 3rem;
  --margin-big: 7.2rem;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 400;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
  background-color: var(--white);
}
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #7ed56fa6, #128f3cea),
    url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background-color: var(--background-color);
}
.header__logo-box {
  position: absolute;
  left: 4rem;
  top: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  font-size: 6rem;
  font-weight: 400;
  display: block;
  letter-spacing: 3.5rem;
  animation: moveinright 1s ease-out;
}
.heading-primary--sub {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.75rem;
  display: block;
  animation: moveinleft 1s ease-out;
}
/* Anim */
@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveinbottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}
.btn--animated {
  animation: moveinbottom 1s ease-in-out 0.75s;
  animation-fill-mode: backwards;
}

.btn:is(:link, :visited) {
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  border-radius: 10rem;
  text-decoration: none;
  color: #777;
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  font-size: 1.6rem;
}

.btn--green:is(:link, :visited) {
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  border-radius: 10rem;
  text-decoration: none;
  color: var(--white);
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  font-size: 1.6rem;
}
.btn--white {
  background-color: #fff;
}
.btn--green {
  background-color: var(--Medium-green);
}
.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.3rem);
}
.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.1rem);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 10rem;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--white:hover::after {
  background-color: #fff;
}
.btn--green:hover::after {
  background-color: var(--Medium-green);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.6);
}
/*  setion-about  */
.section-about {
  max-width: 130rem;
  padding: 25rem 6.4rem;
  margin: 0 auto;
  margin-top: -20vh;
  background-color: var(--background-color);
}
.center-head-text {
  text-align: center;
}
.heading-secondary-small {
  margin-bottom: var(--margin-medim);
  font-size: var(--secondary);
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    var(--Light-green),
    var(--Dark-green)
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}
.heading-secondary {
  font-size: var(--secondary);
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    var(--Light-green),
    var(--Dark-green)
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  margin-bottom: var(--margin-big);
}
.heading-secondary:hover {
  transform: skewX(15deg) skewY(2deg) scale(1.1);
  text-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.3);
}
.grid {
  display: grid;
  max-width: 114rem;
  margin-top: 0 auto;
}
.grid-2-c {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 314px;
}
.heading-tertiary {
  margin-bottom: var(--margin-small);
  font-size: var(--tertiary);
  text-transform: uppercase;
}
.paragraph {
  margin-bottom: var(--margin-medim);
  font-size: var(--tertiary);
}
.img-com {
  position: relative;
  z-index: 10;
}
.img-com img {
  position: absolute;
  width: 55%;
  transition: all 0.2s ease-in-out;
  box-shadow: 6px 18px 24px rgba(0, 0, 0, 0.2);
  outline-offset: 1.6rem;
}
.img-1 {
  top: 0;
  right: -10%;
}
.img-2 {
  top: 20%;
  left: 20%;
}
.img-3 {
  top: -8%;
  left: 6%;
}
.img-com img:hover {
  z-index: 20;
  transform: scale(1.05);
  box-shadow: 6px 18px 24px rgba(0, 0, 0, 0.5);
  outline: 1.2rem solid var(--Dark-green);
}
.img-com:hover img:not(:hover) {
  transform: scale(0.95);
}
.btn-text:is(:link, :visited) {
  text-decoration: none;
  padding: 0.6rem;
  color: var(--Dark-green);
  border-bottom: 0.1rem solid var(--Dark-green);
  transition: all 0.2s ease-in-out;
  display: inline-block;
  font-size: 1.6rem;
}
.btn-text:hover {
  background-color: var(--Dark-green);
  transform: translateY(-0.2rem);
  color: var(--white);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn-text:active {
  box-shadow: 0 0.8rem 0.17rem rgba(0, 0, 0, 0.1);
  transform: translateY(0);
}
/* section-featurs */
.section-featurs {
  padding: 20rem 6.4rem;
  margin: 0 auto;
  background-image: linear-gradient(to right bottom, #7ed56fa6, #55c57ab9),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10%;
}
.grid-4-c {
  grid-template-columns: repeat(4, 1fr);
  max-width: 114rem;
  gap: 6.4rem;
}
.featurs-box {
  color: #727272;
  padding: 1.6rem;
  height: 300px;
  border-radius: 3px;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(228, 228, 228);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}
.featurs-box:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  transform: translateY(-1.6rem) scale(1.05);
}
.section-featurs > * {
  transform: skewY(7deg);
}

/* section-tours */
.section-tours {
  max-width: 130rem;
  padding: 25rem 9.4rem;
  margin: 0 auto;
  margin-top: -20vh;
  background-color: var(--background-color);
}
.card {
  height: 50rem;
  width: 32rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}

.card-side {
  backface-visibility: hidden;
  transition: all 0.9s ease;
  height: 50rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.card-front {
  background-color: var(--white);
}
.card-back-1 {
  transform: rotateY(180deg);
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card-back-2 {
  transform: rotateY(180deg);
  background-image: linear-gradient(to right bottom, #55c57a, #7ed56f);
}
.card-back-3 {
  transform: rotateY(180deg);
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card:hover .card-front {
  transform: rotateY(-180deg);
}
.card:hover .card-back {
  transform: rotateY(0deg);
}
.card-picture {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-blend-mode: screen;

  background-position: top;
  background-size: cover;
  height: 23rem;
}
.card-picture-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
    url(../img/nat-5.jpg);
}
.card-picture-2 {
  background-image: linear-gradient(to right bottom, #55c57a, #7ed56f),
    url(../img/nat-6.jpg);
}
.card-picture-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa),
    url(../img/nat-7.jpg);
}
.card-heading {
  position: absolute;
  top: 25%;
  right: 5%;
  text-align: right;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 300;
  width: 70%;
  font-size: 2.8rem;
}
.card-heading-span-1 {
  background-image: linear-gradient(to right bottom, #ffbb00c5, #ff7830c2);
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.card-heading-span-2 {
  background-image: linear-gradient(to right bottom, #55c57ab4, #7ed56fa9);
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.card-heading-span-3 {
  background-image: linear-gradient(to right bottom, #2998ffa2, #5543fa9d);
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.card-details {
  padding: 3rem;
}
.card-details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card-details ul li {
  text-align: center;
  font-size: 1.5rem;
}
.card-details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
  padding: 1rem;
}
.card-cta {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  color: var(--white);
  width: 90%;
  left: 50%;
  text-align: center;
}
.price-box {
  text-align: center;
  margin-bottom: 8rem;
  text-transform: uppercase;
}
.price-text {
  font-size: 1.4rem;
}
.price-value {
  font-size: 6rem;
  font-weight: 100;
}
.grid-3-c {
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  gap: 6.4rem;
}
.margin-top {
  margin-top: 9.6rem;
}
/* section-storeis */

.section-stories {
  position: relative;
  padding: 15rem 0;
  max-width: 130rem;
}

.story {
  height: 27rem;
  font-size: 1.6rem;
  padding-left: 9rem;
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  transform: skewX(-12deg);
}

.shape-story {
  width: 15rem;
  height: 15rem;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem);
  background-color: #28b485;
  float: left;
  transform: skewX(12deg);
  margin-right: 2.4rem;
  position: relative;
}
.story-text {
  transform: skewX(12deg);
}
.shape-story img {
  height: 100%;
  transition: all 0.5s ease;
  transform: translateX(-4rem) scale(1.4);
}
.shape-story figcaption {
  position: absolute;
  text-align: center;
  color: var(--white);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.7rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 120%);
  transition: all 0.5s ease;
}

.story:hover figcaption {
  transform: translate(-50%, -50%);
}
.story:hover .shape-story img {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(80%);
}
.grid-2-r {
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
  gap: 9.6rem;
}
.bg-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg-c {
  width: 100%;
  opacity: 0.2;
  object-fit: cover;
  height: 100%;
}
/* section-book */
.section-book {
  padding: 15rem 0;
  max-width: 130rem;
  background-image: linear-gradient(
    to right bottom,
    var(--Light-green),
    var(--Dark-green)
  );
}

.book {
  margin: 0 auto;
  max-width: 114rem;
  height: 50rem;
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: 100%;
}
.book-form {
  padding: 6rem;
  width: 50%;
}
.form-box:not(:last-child) {
  margin-bottom: 2rem;
}
.form-input {
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  transition: all 0.3s;
  display: block;
}
.form-input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid var(--Dark-green);
}
.form-input:focus:invalid {
  border-bottom: 3px solid orangered;
}
.form-input::-webkit-input-placeholder {
  color: #999;
}
.form-label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.form-input:placeholder-shown + .form-label {
  transform: translateY(-4rem);
  opacity: 0;
  visibility: hidden;
}
.form-radio-box {
  width: 49%;
  position: relative;
  display: inline-block;
}
.radio-btn {
  width: 3rem;
  height: 3rem;
  border: 5px solid var(--Medium-green);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -10%;
}
.radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  padding-left: 4rem;
}
.radio-btn::after {
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  background-color: var(--Medium-green);
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.radio-input:checked ~ .radio-label .radio-btn::after {
  opacity: 1;
}
.radio-input {
  display: none;
}

.btn {
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  border-radius: 10rem;
  text-decoration: none;
  color: var(--white);
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.margin-top-small {
  margin-top: 2.4rem;
}
/* footer */
.footer {
  padding: 10rem 0;
  max-width: 130rem;
  background-color: #222;
  font-size: 1.4rem;
  color: var(--white);
}
.footer-logo-box {
  text-align: center;
  margin-bottom: 10rem;
}
.logo-footer {
  width: 15rem;
  height: auto;
}
.footer-list {
  list-style: none;
}
.footer-item {
  display: inline-block;
}
.footer-item:not(:last-child) {
  margin-right: 3rem;
}
.footer-link:is(:link, :visited) {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
.footer-link:is(:hover, :active) {
  color: var(--Light-green);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: scale(1.4) rotate(5deg);
}
.footer-navigation,
.footer-copyright {
  border-top: 1px solid var(--background-color);
  padding-top: 2rem;
}
.footer-copyright {
  width: 90%;
  margin-left: 5rem;
}
.footer-navigation {
  width: 91%;
}
.margin-auto {
  margin: 0 auto;
}
/* navigation */

.navigation {
}
.navigation-checkbox {
  display: none;
}
.navigation-btn {
  text-align: center;
  background-color: var(--white);
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  cursor: pointer;
}
.navigation-background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transform: scale(0);
  background-image: radial-gradient(var(--Light-green), var(--Dark-green));
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation-nav {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation-list {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navigation-item {
}
.navigation-link:is(:link, :visited) {
  font-size: 3rem;
  font-weight: 300;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    var(--white) 50%
  );
  background-size: 220%;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}
.navigation-link:is(:hover, :active) {
  background-position: 100%;
  transform: translateX(1rem);
  color: var(--Medium-green);
}
.navigation-link span {
  margin-right: 1rem;
  display: inline-block;
}
.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(80);
}
.navigation-checkbox:checked ~ .navigation-nav {
  width: 100%;
  opacity: 1;
}
.navigation-icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation-icon,
.navigation-icon::before,
.navigation-icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation-icon::before,
.navigation-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation-icon::before {
  top: -0.8rem;
}
.navigation-icon::after {
  top: 0.8rem;
}
.navigation-btn:hover .navigation-icon::before {
  top: -1rem;
}
.navigation-btn:hover .navigation-icon::after {
  top: 1rem;
}
.navigation-checkbox:checked + .navigation-btn .navigation-icon {
  background-color: transparent;
}
.navigation-checkbox:checked + .navigation-btn .navigation-icon::before {
  transform: rotate(-135deg);
  top: 0;
}
.navigation-checkbox:checked + .navigation-btn .navigation-icon::after {
  transform: rotate(135deg);
  top: 0;
}
/* Popup */
.popup {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup-close:is(:link, :visited) {
  text-decoration: none;
  font-size: 3rem;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  line-height: 1;
  color: #333;
}
.popup-close:hover {
  color: var(--Medium-green);
}
.popup:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup-content {
  width: 85%;
  height: 50rem;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  display: table;
  border-radius: 3px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
}
.popup-img {
  width: 100%;
  display: block;
}
.popup-left {
  display: table-cell;
  width: 33.333333%;
}
.popup-right {
  padding: 3rem 5rem;
  vertical-align: middle;
  display: table-cell;
  width: 66.666667%;
}
.popup-text {
  font-size: 1.4rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #333;
  margin-bottom: 2rem;
}
#heading-secondary {
  margin-bottom: 3rem;
}
@media (max-width: 1000px) {
  html {
    font-size: 47%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 45%;
  }
}
