/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 10px;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 400;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #7ed56fa6, #55c57ab9),
    url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.logo-box {
  position: absolute;
  left: 4rem;
  top: 4rem;
}
.logo {
  height: 3.5rem;
}
.text-box {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary-main {
  font-size: 6rem;
  font-weight: 400;
  display: block;
  letter-spacing: 3.5rem;
  animation: moveinright 1s ease-out;
}
.heading-primary-sub {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.75rem;
  display: block;
  animation: moveinleft 1s ease-out;
}
/* Anim */
@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveinbottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}
.btn-animated {
  animation: moveinbottom 1s ease-in-out 0.75s;
  animation-fill-mode: backwards;
}
.btn:is(:link, :visited) {
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  border-radius: 10rem;
  text-decoration: none;
  color: #777;
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  font-size: 1.6rem;
}
.btn-white {
  background-color: #fff;
}
.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.3rem);
}
.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.1rem);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 10rem;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-white:hover::after {
  background-color: #fff;
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.6);
}
